<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>92918735411-rq1s8nc0ndin7svmft84brggfgmqtfg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92918735411-rq1s8nc0ndin7svmft84brggfgmqtfg1</string>
	<key>API_KEY</key>
	<string>AIzaSyBNba6fp4CzsA1DMxiBtSONS-tuhH1soLI</string>
	<key>GCM_SENDER_ID</key>
	<string>92918735411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.studiorenegade.application</string>
	<key>PROJECT_ID</key>
	<string>studio-renegade-9c4bd</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-renegade-9c4bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92918735411:ios:1facbd5ff74f3787</string>
	<key>DATABASE_URL</key>
	<string>https://studio-renegade-9c4bd.firebaseio.com</string>
</dict>
</plist>